html {
  background: url(http://i.imgur.com/YGk2jPB.jpg);
  background-repeat: repeat;
  background-size: 15%;
}

body {
  padding-bottom: 50px;
  background-color: hsla(0, 0%, 0%, 0.7);
  font-family: 'Roboto', sans-serif;
}

hr {
  width: 65rem;
  border-top: 1px solid #c1f0f8;
}

strong {
  color: #f0f8ff;
}

a {
  color: #1c96ff;
}

.navbar-inverse {
    border-radius: 0px;
    background-color: hsla(0, 0%, 0%, 0.9);
}

.navbar-brand {
  font-family: 'Audiowide', cursive;
  font-size: 40px;
  padding-left: 50px;
}

.thumbnail h3 {
  color: #c1f0f8;
}

.thumbnail {
  background-color: rgba(0, 0, 0, 0.7);
}

.thumbnail img {
  max-height: 350px;
}

.thumbnail .description {
  color: #e2f2f5;
}

.list-group-item {
  background-color: hsla(0, 0%, 0%, 0.9);
  color: #fff;
}

.panel-footer strong{
  color: #000;
}

.price {
  color: #f0f8ff;
  font-weight: bold;
  font-size: 16px;
}

.btn {
  color: #000;
}

#wishlist {
  padding-left: 5px;
  float: right;
}

#emptycart, #emptylist {
  padding: 30px;
  font-size: 43px;
  color: #c1f0f8;
  background-color: hsla(0, 0%, 0%, 0.9);
}

#h1, #h2, #h4, #orders, #label, #link {
  color: #c1f0f8;
}

.form-control {
  color: #000;
}
